@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $palette: map.get($color-config, 'foreground');

  th.cdk-header-cell, td.cdk-cell, td.cdk-footer-cell, td.no-data {
    border-bottom: 1px solid mat.get-color-from-palette($palette, 'divider');
  }
}
