table
  min-width: 100%
  border-collapse: collapse

th.cdk-header-cell, td.cdk-cell, td.cdk-footer-cell
  padding: 0.5rem 1rem

td.no-data
  padding: 1rem
  text-align: center

.align-left
  text-align: left

.align-center
  text-align: center

.align-right
  text-align: right

footer
  display: flex
  justify-content: flex-end
  background-color: white
  align-items: center
  padding-right: 13px

  .mat-icon
    font-size: 20px
