<div style="min-width: 70em">
  <p>
    <mat-slide-toggle (change)="switchFullAddress($event)"></mat-slide-toggle>
    <span>Minimize address</span>
  </p>
  <div [class.loading]="sampleDataSource.isLoading$ | async" class="mat-elevation-z1">
    <table [dataSource]="sampleDataSource" mat-table>
      <caption>Companies in the system</caption>
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>{{ columns.name.header }}</th>
        <td *matCellDef="let element" mat-cell>{{ element.name }}</td>
      </ng-container>
      <ng-container matColumnDef="address">
        <th *matHeaderCellDef mat-header-cell>{{ columns.address.header }}</th>
        <td *matCellDef="let element" mat-cell>
          <app-address [city]="element.addressCity" [country]="element.addressCountry" [minimized]="minimizeAddress"
                       [number]="element.addressNumber" [street]="element.addressStreet"
                       [zipCode]="element.addressZipCode">
          </app-address>
        </td>
      </ng-container>
      <ng-container matColumnDef="iban">
        <th *matHeaderCellDef mat-header-cell>{{ columns.iban.header }}</th>
        <td *matCellDef="let element" mat-cell>{{ element.bankAccountIban }}</td>
      </ng-container>
      <td *matNoDataRow [colSpan]="displayedColumns.length" class="no-data">
        <span>No data to display.</span>
      </td>
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
    <footer>
      <mat-paginator (page)="updatePagination($event)" [length]="sampleDataSource.totalRows$ | async"
                     showFirstLastButtons style="margin: 0 -8px"></mat-paginator>
      <button (click)="sampleDataSource.refresh()" mat-icon-button>
        <mat-icon>replay</mat-icon>
      </button>
    </footer>
  </div>
</div>
