<div class="button-list">
  <a href="/table" mat-button mat-stroked-button>Table</a>
  <a href="/form" mat-button mat-stroked-button>Form</a>
  <a href="/report" mat-button mat-stroked-button>Report</a>
  <a href="/animations" mat-button mat-stroked-button>Animations</a>
</div>
