<div [class.focused]="focused">
  <span (click)="focus()" class="parsed-value">{{ value | amount }}&nbsp;</span>
  <input
      #theInput
      (blur)="blur()"
      (focus)="focus()"
      [disabled]="disabled"
      class="mat-input-element"
      placeholder="{{ placeholder }}"
  >
</div>
