<mat-accordion style="width: 70ex">
  <mat-expansion-panel *ngFor="let producer of sampleData.producers">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{producer.registryId}}:{{producer.classifier}} {{producer.name}}
      </mat-panel-title>
      <mat-panel-description>
        {{producer.totalToPay | amount }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <p>
        Some detail.
      </p>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
