<form (submit)="logFormValue()" [formGroup]="theForm">
  <mat-form-field>
    <mat-label>Net amount</mat-label>
    <app-amount formControlName="netAmount"></app-amount>
    <mat-hint>Some helpful text</mat-hint>
  </mat-form-field>
  <mat-form-field>
    <mat-label>VAT rate</mat-label>
    <input formControlName="vatRate" matInput type="text">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Gross amount</mat-label>
    <app-gross-amount-input [formGroup]="theForm" formControlName="grossAmount" netAmountField="netAmount"
                            vatRateField="vatRate"></app-gross-amount-input>
  </mat-form-field>
  <button color="primary" mat-raised-button submit>Log value</button>
</form>
