<ng-container *ngIf="minimized; else elseTemplate">
  <span>{{ city }}, {{ country }}</span>
</ng-container>
<ng-template #elseTemplate>
  <div>{{ street }} {{ number }}</div>
  <div>{{ zipCode }} {{ city }}</div>
  <div>{{ country }}</div>
</ng-template>
