@use 'sass:map';
@use 'sass:math';
@use '@angular/material' as mat;
@use './app/generic-table/generic-table.component-theme' as generic-table;

@import '@angular/material/theming';

$font-config: mat.define-typography-config(
  $font-family: 'Lato',
  $button: mat.define-typography-level(12px, 12px, 700, $letter-spacing: 1px)
);

$primary-palette: mat.define-palette(mat.$light-blue-palette, 700);
$accent-palette:  mat.define-palette(mat.$orange-palette, A400);

$theme: mat.define-light-theme((
  color: (
    primary: $primary-palette,
    accent: $accent-palette,
  ),
  typography: $font-config
));

@include mat.core($font-config);
@include mat.all-component-themes($theme);

$color-config: mat.get-color-config($theme);
$background-palette: map.get($color-config, 'background');

$spinner-thickness: 0.3rem;
$spinner-radius: 3rem;

$spinner-main-color: mat.get-color-from-palette($primary-palette);
$spinner-gray-color: mat.get-color-from-palette($background-palette, 'background');

.loading {
  position: relative;
  -webkit-transition: background-color .1s ease;
  transition: background-color .1s ease;
}

.loading::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: mat.get-color-from-palette($background-palette, 'background', 0.7);
  z-index: 9000;
}

.loading::after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: (- math.div($spinner-radius, 2)) 0 0 (- math.div($spinner-radius, 2));
  width: $spinner-radius;
  height: $spinner-radius;
  -webkit-animation: loading-spin .6s linear;
  animation: loading-spin .6s linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 50%;
  border-color: $spinner-main-color $spinner-main-color $spinner-main-color $spinner-gray-color;
  border-style: solid;
  border-width: $spinner-thickness;
  -webkit-box-shadow: 0 0 0 1px transparent;
  box-shadow: 0 0 0 1px transparent;
  z-index: 9001;
}

@keyframes loading-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

button.mat-button,
a.mat-button {
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 3px;
}

@include generic-table.color($theme)
